  <h1 class="bi bi-chat-square-quote-fill text-primary text-center display-1"></h1>
<div class="container d-flex flex-column mt-5">

<h1 class="text-primary">Add a new quote</h1>

<hr>

  <%= render "form", quote: @quote %>
</div>
  

